h1 
{
    font-size: 1.25em;
}

h2
{
    display: none;
}

.header-container
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



@media only screen and (min-width: 600px)
{
    h1 
    {
        font-size: 1.5em;
    }

    h2
    {
        display: block;
        font-size: 1em;
    }

    .header-container
    {
        justify-content: space-between;
        padding: 15px 50px 15px 50px;
        margin-bottom: 50px;
    }

    .toggle-container
    {
        display: flex;
        width: 10%;
        justify-content: space-around;
        align-items: center;
    }
}